<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit</title>
</head>
<body>
    <div id="input-table">
        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" value="<%=data.firstName%>" name="firstName"> <br>
        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" value="<%=data.lastName%>" name="lastName"><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" value="<%=data.email%>" name="email"><br>
        <label for="item">Item</label><br>
        <input type="text" id="item" value="<%=data.item%>" name="item"><br>
        <label for="quantity">Quantity</label><br>
        <input type="number" id="quantity" value="<%=data.quantity%>" name="quantity"><br>
        <label for="totalPrice">Total Price</label><br>
        <input type="number" id="totalPrice" value="<%=data.totalPrice%>" name="totalPrice"><br><br>
        <button value="<%=data.id%>" onclick="edit(this)"> Save </button>
    </div>
</body>

<script>
    const edit = (e) => {
        const id = e.value;
        const firstName = document.getElementById('firstName');
        const lastName = document.getElementById('lastName');
        const email = document.getElementById('email');
        const item = document.getElementById('item');
        const quantity = document.getElementById('quantity');
        const totalPrice = document.getElementById('totalPrice');
        const data = {
            firstName: firstName.value,
            lastName: lastName.value,
            email: email.value,
            item: item.value,
            quantity: quantity.value,
            totalPrice: totalPrice.value
        };
        $.ajax({
            url: '/api/v1/transactions/' + id,
            type: 'PUT',
            data: data,
            success: (response) => {
                if (response.status == 'redirect') {
                    window.location.replace(response.url);
                }
            },
            error: (xhr, ajaxOptions, thrownError) => {
                alert(xhr.status);
                alert(thrownError);
                alert(xhr.responseText)
            }
        })
    }
</script>
</html>