<html>
    <head>
        <title>Error Occured</title>
    </head>
    <body style="display:flex;justify-content:center;align-items:center">
        <H1><%=code%> <%=message%></H1>
    </body>
</html>