<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Transaction Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <form method="GET" action="/api/v1/transactions/pivot">
            <input type="submit" value="Pivot">
        </form>
        <button type="button" id="insert-button" onclick="showInsertTable()">Insert</button>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>full-name</th>
                    <th>email</th>
                    <th>item</th>
                    <th>quantity</th>
                    <th>total price</th>
                    <th>opsi</th>
                </tr>
            </thead>
            <tbody>
                <%data.forEach(function(data){%> 
                    <tr>
                        <td><%=data.id%></td>
                        <td><%=data.fullName%></td>
                        <td><%=data.email%></td>
                        <td><%=data.item%></td>
                        <td><%=data.quantity%></td>
                        <td><%=data.totalPrice%></td>
                        <td>
                            <form method="get" action="/api/v1/transactions/<%=data.id%>">
                                <input type="submit" value="Edit">
                            </form>
                            <button onclick="remove(this)" value="<%=data.id%>">remove</button>
                        </td>
                    </tr>
                <%});%>
            </tbody>
        </table>
        <br>
        <div id="input-table" style="display: none;">
            <form action="/api/v1/transactions" method="POST">
                <label for="fname">First Name</label><br>
                <input type="text" id="fname" name="firstName"> <br>
                <label for="lname">Last Name</label><br>
                <input type="text" id="lname" name="lastName"><br>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="item">Item</label><br>
                <input type="text" id="item" name="item"><br>
                <label for="quantity">Quantity</label><br>
                <input type="number" id="quantity" name="quantity"><br>
                <label for="tp">Total Price</label><br>
                <input type="number" id="tp" name="totalPrice"><br><br>
                <input type="submit" value="Save">
            </form>
        </div>
    </body>

    <script>

        const remove = (e) => {
            if (confirm('are u sure ?')) {
                const id = e.value;
                $.ajax({
                    url: '/api/v1/transactions/' + id,
                    type: 'DELETE',
                    success: (response) => {
                        if (response.status == 'redirect') {
                            window.location.replace(response.url);
                        }
                    },
                    error: (e) => {
                    }
                })
            }
        };

        const showInsertTable = () => {
            const table = document.getElementById('input-table');
            const btn = document.getElementById("insert-button");
            if (table.style.display === "none") {
                table.style.display = "block"
                btn.innerHTML = "Hide";
                return;
            }
            table.style.display = "none";
            btn.innerHTML = "Insert";
        }
    </script>
</html>