<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pivot Transaction</title>
</head>
<body>
    <body>
        <form method="get" action="/api/v1/transactions">
            <input type="submit" value="Home">
        </form>
        <table>
            <thead>
                <tr>
                    <% headersEjs.forEach(function(head) { %>
                        <th><%= head %></th>
                   <%})%>
                </tr>
            </thead>
            <tbody>
                <%data.forEach(function(data){%> 
                    <tr>
                        <%headersEjs.forEach(function(k){%>
                            <td> <%=data[k]%> </td>
                            <%});%>
                    </tr>
                <%});%>
            </tbody>
        </table>
    </body>
</body>
</html>